appdirs==1.4.4
asgiref==3.7.2
attrs==23.1.0
click==8.1.7
distlib==0.3.7
dj-database-url==2.1.0
Django==3.2.21
django-environ==0.11.2
django_debug_toolbar==3.8.1
filelock==3.12.2
gunicorn==21.2.0
h11==0.14.0
importlib-metadata==1.7.0
lxml==4.9.3
more-itertools==9.1.0
mysqlclient==2.1.0
packaging==23.2
pluggy==0.13.1
py==1.11.0
pytest==5.4.3
python-decouple==3.8
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==1.25.9
uvicorn==0.22.0
virtualenv==20.0.24
wcwidth==0.2.8
zipp==3.15.0
whitenoise==6.5.0